<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%-15thread{15}] [%-5level] [%logger{20}] - %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="io.jpelczar" level="DEBUG"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>